@charset "utf-8";
html {
    font-size: 100%;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
    color: #000;
    line-height: 1.75;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}

ul,
ol {
    list-style-type: none;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 40px;
}

.logo {
    width: 170px;
    height: auto;
    padding: 30px 0 25px 50px;
}

.icon img {
    height: 40px;
    width: auto;
}

.nav_bgc {
    background-color: #e6e6e6;
}

.gnav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnav_item {
    width: 88px;
    height: auto;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.04em;
    padding: 20px 0 10px 0;
    font-size: 12px;
}

.gnav_icon::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.gnav_icon_top::before {
    background-image: url(png/nav01.png);
}

.gnav_icon_keiji::before {
    background-image: url(png/nav02.png);
}

.gnav_icon_link::before {
    background-image: url(png/nav03.png);
}

.gnav_icon_mail::before {
    background-image: url(png/nav04.png);
}

.gnav_item_top {
    display: none;
}

.sky_box {
    background-color: #00c5ff;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.sky_p1 {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.1em;
}

.sky_p2 {
    line-height: 1.3;
    letter-spacing: 0.14em;
    font-size: 17%;
}
.item_set {
    background-color: #e6e6e6;
    padding: 35px 0 50px 0;
    text-align: center;
}

.item_box {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.item {
    background-color: #fff;
    min-height: 180px;
    width: auto;
    margin-bottom: 10px;
    padding-top: 20px;
}


.item img {
    min-width: 67px;
    min-height: 67px;
}

.title_2 {
    font-weight: bold;
    padding: 10px 0 0 0;
    font-size: 18px;
}

.title_topi {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.26em;
    padding-top: 60px;
}

.topi_p {
    padding-top: 10px;
}

.topi_p:nth-of-type(5) {
    padding-bottom: 60px;
}

footer {
    background-color: #e6e6e6;
    text-align: center;
    padding-bottom: 25px;
}

.foot_p {
    font-size: 14px;
    font-weight: 1.2;
    color: #00c5ff;
    padding-bottom: 20px;
}

.copy {
    font-size: 10px;
    font-weight: 1.2;
    letter-spacing: 0.2em;
}

.info_p,
.topi_pp,
.top_icon {
    display: none;
}

@media (min-width: 851px) {
    .gnav_item_top {
        display: block;
    }
    .gnav_icon {
        width: 75px;
    }
    .gnav_item + .gnav_item {
        padding-left: 50px;
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_bgc {
        background-color: #fff;
    }

    .logo {
        width: 290px;
        height: auto;
        padding: 80px 0;
    }

    .sky_p1 {
        font-size: 54px;
        line-height: 1;
        letter-spacing: 0.1em;
        padding-bottom: 20px;
    }

    .sky_p2 {
        font-size: 30px;
        line-height: 1;
        letter-spacing: 0.14em;
    }

    .sky_box {
        padding-top: 75px;
    }

    .item_box {
        gap: 35px;
        height: 307px;
        width: auto;
        padding: 40px 0 35px 0;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item img {
        height: 60px;
        width: auto;
    }

    .title_2 {
        font-size: 27px;
        font-weight: bold;
        padding: 35px 0 20px 0;
    }

    .info_p {
        display: inline-block;
        max-width: 190px;
    }

    .item {
        min-height: 307px;
        width: auto;
        box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.25);
    }

    .sky_box {
        min-height: 442px;
    }

    .item_1 {
        margin-top: -250px;
        margin-bottom: 35px;
    }

    .item_set {
        background-color: #fff;
    }

    .title_topi {
        padding-top: 200px;
        font-size: 53px;
    }

    .title_p {
        font-size: 22px;
        line-height: 2.7;
    }

    .topi_p:last-child {
        padding-bottom: 145px;
    }

    .topi_p:nth-of-type(5) {
        padding-bottom: 10px;
    }

    .topi_pp {
        display: block;
    }

    .under {
        text-decoration: underline;
    }

    .top_icon {
        display: block;
    }

    header {
        max-width: 1000px;
        margin: 0 auto;
    }

    .footer_flex {
        display: flex;
        justify-content: space-between;
    }

    .footer_p {
        padding-right: 120px;
        width: 40%;
    }
}
.logo_foot {
    width: 170px;
    height: auto;
    padding: 20px 0;
}

.footer_nav_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 5px;
    width: 60%;
    font-size: 13px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

@media (max-width: 851px) {
    .footer_nav_list {
        display: none;
    }
}

.shirase_blu {
    background-color: #00c5ff;
    height: 81px;
}

.button1 {
    text-align: center;
}

.button_1 {
    background-color: #00c5ff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
}

.shirase {
    color: #fff;
    font-weight: 1.9;
    text-align: center;
    display: flex;
}

.shirase img {
    height: 55px;
    width: auto;
    padding-top: 20px;
}

.title_2_info {
    font-size: 26px;
    letter-spacing: 0.08em;
    padding-left: 10px;
    padding-top: 20px;
}

.album {
    background-color: #00c5ff;
    color: #fff;
    font-weight: 1.9;
    max-width: 1000px;
    border-radius: 16px;
    height: 32px;
    text-align: center;
}

.title_3_info {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
    padding-top: 30px;
    padding-bottom: 10px;
}

.keisai {
    padding-bottom: 20px;
}

.keisai_p {
    padding-top: 50px;
    padding-bottom: 45px;
}

.button_p {
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 0.08em;
}

.button_p,
.button_img {
    display: inline-block;
}

.button_img {
    height: 35px;
    width: auto;
}

.button {
    background-color: #ff8900;
    color: #fff;
    border-radius: 36px;
    padding: 17px 60px;
}

.orenji {
    text-align: center;
    margin-bottom: 70px;
}

/* -------------- */
.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #000;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #fff;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    border-bottom: solid 1px #000;
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;

}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    /*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    transition: all 0.5s;
    /*アニメーション設定*/
}

#menu-btn-check:checked~.menu-content {
    left: 0;
    /*メニューを画面内へ*/
}